In [4]:
import pandas as pd
startup = pd.read_csv("C:/Startups in 2021.csv")
startup.head(5)

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [6]:
print(startup.info())
print(startup.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        936 non-null    int64
 1   Company           936 non-null    object
 2   Valuation ($B)    936 non-null    object
 3   Date Joined       936 non-null    object
 4   Country           936 non-null    object
 5   City              921 non-null    object
 6   Industry          936 non-null    object
 7   Select Investors  935 non-null    object
dtypes: int64(1), object(7)
memory usage: 58.6+ KB
None
       Unnamed: 0
count  936.000000
mean   467.500000
std    270.344225
min      0.000000
25%    233.750000
50%    467.500000
75%    701.250000
max    935.000000

In [10]:
# List of European countries for filtering
european_countries = [
    "Sweden", "Germany", "France", "United Kingdom", "Italy", "Spain", 
    "Netherlands", "Poland", "Belgium", "Denmark", "Finland", "Austria",
    "Norway", "Ireland", "Portugal", "Czech Republic", "Greece", "Hungary",
    "Switzerland", "Slovakia", "Slovenia", "Luxembourg", "Iceland", "Estonia",
    "Latvia", "Lithuania", "Malta", "Romania", "Bulgaria", "Croatia"
]

# Filter data for China, USA, and European countries
filtered_data = startup[
    startup['Country'].isin(['China', 'United States'] + european_countries)
]

# Save the filtered data for review
filtered_file_path ='C:/Users/Dell/Documents/startup_cleaned.csv'

filtered_data.to_csv(filtered_file_path, index=False)

filtered_data.head(), filtered_file_path

(   Unnamed: 0    Company Valuation ($B) Date Joined        Country  \
 0           0  Bytedance           $140    4/7/2017          China
 1           1     SpaceX         $100.3   12/1/2012  United States
 2           2     Stripe            $95   1/23/2014  United States
 3           3     Klarna          $45.6  12/12/2011         Sweden
 5           5  Instacart            $39  12/30/2014  United States

             City                             Industry  \
 0        Beijing              Artificial intelligence
 1      Hawthorne                                Other
 2  San Francisco                              Fintech
 3      Stockholm                              Fintech
 5  San Francisco  Supply chain, logistics, & delivery

                                     Select Investors
 0  Sequoia Capital China, SIG Asia Investments, S...
 1  Founders Fund, Draper Fisher Jurvetson, Rothen...
 2        Khosla Ventures, LowercaseCapital, capitalG
 3  Institutional Venture Partners, Sequoia Capita...
 5  Khosla Ventures, Kleiner Perkins Caufield & By...  ,
 'C:/Users/Dell/Documents/startup_cleaned.csv')

In [34]:
print(filtered_data.isnull().sum())
filtered_data = filtered_data.dropna()

Unnamed: 0          0
Company             0
Valuation ($B)      0
Date Joined         0
Country             0
City                0
Industry            0
Select Investors    0
select investors    0
dtype: int64

In [20]:
start = pd.read_csv("C:/startup_cleaned.csv")

In [22]:
# Transformer les valeurs de 'Valuation ($B)' en float en supprimant "$" et ","
start['Valuation ($B)'] = start['Valuation ($B)'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)

# Convertir en float (en gérant les erreurs potentielles)
start['Valuation ($B)'] = pd.to_numeric(start['Valuation ($B)'], errors='coerce')
start = start.drop(columns=['Date Joined'])

start.to_csv("C:/dataset/lastversion_startup.csv", index=False)

In [38]:
start.head(5)

,Unnamed: 0,Company,Valuation ($B),Country,City,Industry,Select Investors
0,0,Bytedance,140.0,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,100.3,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,95.0,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,45.6,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,5,Instacart,39.0,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By..."

In [26]:
start.shape

(761, 7)

In [28]:
start.describe()

       Unnamed: 0  Valuation ($B)
count  761.000000      761.000000
mean   462.638633        3.354152
std    268.511848        7.977530
min      0.000000        1.000000
25%    224.000000        1.100000
50%    472.000000        1.600000
75%    692.000000        3.100000
max    934.000000      140.000000

In [210]:
start.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        761 non-null    int64
 1   Company           761 non-null    object
 2   Valuation ($B)    761 non-null    float64
 3   Country           761 non-null    object
 4   City              761 non-null    object
 5   Industry          761 non-null    object
 6   Select Investors  760 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 41.7+ KB

In [212]:
start.head(5)

,Unnamed: 0,Company,Valuation ($B),Country,City,Industry,Select Investors
0,0,Bytedance,140.0,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,100.3,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,95.0,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,45.6,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,5,Instacart,39.0,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By..."

In [214]:
start["Valuation ($B)"].max()

140.0

In [226]:
start["Valuation ($B)"].min()

1.0

In [228]:
above_20 = start[start["Valuation ($B)"] > 20]

In [230]:
above_20.head()

,Unnamed: 0,Company,Valuation ($B),Country,City,Industry,Select Investors
0,0,Bytedance,140.0,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,100.3,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,95.0,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,45.6,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,5,Instacart,39.0,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By..."

In [232]:
start["Valuation ($B)"] > 20

0       True
1       True
2       True
3       True
4       True
       ...
756    False
757    False
758    False
759    False
760    False
Name: Valuation ($B), Length: 761, dtype: bool

In [234]:
start.describe()

       Unnamed: 0  Valuation ($B)
count  761.000000      761.000000
mean   462.638633        3.354152
std    268.511848        7.977530
min      0.000000        1.000000
25%    224.000000        1.100000
50%    472.000000        1.600000
75%    692.000000        3.100000
max    934.000000      140.000000

In [236]:
print(start['Country'].value_counts())

Country
United States     477
China             169
United Kingdom     37
Germany            23
France             19
Netherlands         5
Spain               4
Sweden              4
Switzerland         4
Norway              3
Ireland             3
Denmark             2
Finland             2
Austria             2
Belgium             2
Luxembourg          1
Estonia             1
Lithuania           1
Czech Republic      1
Croatia             1
Name: count, dtype: int64

In [248]:
print(start.isnull().sum())  # Vérifier les valeurs manquantes par colonne

Unnamed: 0          0
Company             0
Valuation ($B)      0
Country             0
City                0
Industry            0
Select Investors    1
dtype: int64

In [250]:
top_10 = start.nlargest(10, 'Valuation ($B)')
print(top_10)

   Unnamed: 0      Company  Valuation ($B)         Country           City  \
0           0    Bytedance           140.0           China        Beijing
1           1       SpaceX           100.3   United States      Hawthorne
2           2       Stripe            95.0   United States  San Francisco
3           3       Klarna            45.6          Sweden      Stockholm
4           5    Instacart            39.0   United States  San Francisco
5           6   Databricks            38.0   United States  San Francisco
6           7      Revolut            33.0  United Kingdom         London
7           9   Epic Games            28.7   United States           Cary
8          10        Chime            25.0   United States  San Francisco
9          13  Xiaohongshu            20.0           China       Shanghai

                              Industry  \
0              Artificial intelligence
1                                Other
2                              Fintech
3                              Fintech
4  Supply chain, logistics, & delivery
5          Data management & analytics
6                              Fintech
7                                Other
8                              Fintech
9      E-commerce & direct-to-consumer

                                    Select Investors
0  Sequoia Capital China, SIG Asia Investments, S...
1  Founders Fund, Draper Fisher Jurvetson, Rothen...
2        Khosla Ventures, LowercaseCapital, capitalG
3  Institutional Venture Partners, Sequoia Capita...
4  Khosla Ventures, Kleiner Perkins Caufield & By...
5  Andreessen Horowitz, New Enterprise Associates...
6         index Ventures, DST Global, Ribbit Capital
7              Tencent Holdings, KKR, Smash Ventures
8   Forerunner Ventures, Crosslink Capital, Homebrew
9                     GGV Capital, ZhenFund, Tencent

In [252]:
startups_par_pays = start['Country'].value_counts()

startups_par_pays

Country
United States     477
China             169
United Kingdom     37
Germany            23
France             19
Netherlands         5
Spain               4
Sweden              4
Switzerland         4
Norway              3
Ireland             3
Denmark             2
Finland             2
Austria             2
Belgium             2
Luxembourg          1
Estonia             1
Lithuania           1
Czech Republic      1
Croatia             1
Name: count, dtype: int64

In [56]:
startups_par_industrie = start['Industry'].value_counts()
startups_par_industrie

Industry
Internet software & services           147
Fintech                                143
E-commerce & direct-to-consumer         75
Health                                  58
Artificial intelligence                 58
Other                                   40
Data management & analytics             36
Supply chain, logistics, & delivery     34
Cybersecurity                           33
Hardware                                31
Mobile & telecommunications             29
Auto & transportation                   25
Edtech                                  20
Consumer & retail                       20
Travel                                   8
Artificial Intelligence                  3
Finttech                                 1
Name: count, dtype: int64

In [54]:
valuation_par_pays = start.groupby('Country')['Valuation ($B)'].mean()
valuation_par_pays

Country
Austria            2.905000
Belgium            3.775000
China              3.369704
Croatia            1.000000
Czech Republic     1.200000
Denmark            1.350000
Estonia            4.750000
Finland            1.500000
France             1.874211
Germany            2.896957
Ireland            2.066667
Lithuania          4.530000
Luxembourg         2.000000
Netherlands        2.860000
Norway             1.266667
Spain              1.487500
Sweden            14.520000
Switzerland        1.400000
United Kingdom     4.061892
United States      3.362746
Name: Valuation ($B), dtype: float64

In [262]:
industrie_plus_valuable = start.groupby('Industry')['Valuation ($B)'].sum().sort_values(ascending=False)
industrie_plus_valuable

Industry
Fintech                                571.37
Internet software & services           401.63
Artificial intelligence                292.21
Other                                  229.64
E-commerce & direct-to-consumer        226.12
Health                                 160.22
Data management & analytics            121.70
Hardware                                97.09
Cybersecurity                           87.75
Supply chain, logistics, & delivery     86.16
Auto & transportation                   76.30
Mobile & telecommunications             60.59
Consumer & retail                       59.35
Edtech                                  51.53
Travel                                  17.65
Finttech                                10.00
Artificial Intelligence                  3.20
Name: Valuation ($B), dtype: float64

In [270]:
investors_counts = start['Select Investors'].value_counts()
print(investors_counts.head(10))

Select Investors
General Atlantic                                                                               2
Pelion Venture Partners, Foundation Capital, Thoma Bravo                                       2
Shunwei Capital Partners, China Media Group, Guangzhou Huiyin Aofeng Equity Investment Fund    2
Caffeinated Capital, Obvious Ventures, Venrock                                                 2
Speedinvest, Valar Ventures, Uniqa Ventures                                                    2
Greylock Partners, Google Ventures, BlackRock                                                  2
Global Founders Capital, Shea Ventures, Greycroft                                              2
Undisclosed                                                                                    2
Two Sigma Ventures, Flint Capital, Commerce Ventures                                           2
SoftBank Group                                                                                 2
Name: count, dtype: int64

In [272]:
valuation_totale_par_pays = start.groupby('Country')['Valuation ($B)'].sum().sort_values(ascending=False)
print(valuation_totale_par_pays)

Country
United States     1604.03
China              569.48
United Kingdom     150.29
Germany             66.63
Sweden              58.08
France              35.61
Netherlands         14.30
Belgium              7.55
Ireland              6.20
Spain                5.95
Austria              5.81
Switzerland          5.60
Estonia              4.75
Lithuania            4.53
Norway               3.80
Finland              3.00
Denmark              2.70
Luxembourg           2.00
Czech Republic       1.20
Croatia              1.00
Name: Valuation ($B), dtype: float64